.MA {
    margin: 0;
    margin: auto;
}

.LWS {
    list-style: none;
}

.BCW {
    background-color: white;
}

body {
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
}

section {
    height: 100%;
    vertical-align: middle;
    width: 100%;
}

header .navbar-default {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: rgba(0, 0, 0, 0.8);
}

header .navbar-default .navbar-nav a {
    color: white !important;
    font-size: 12px;
    text-transform: uppercase;
}

header .navbar-default .navbar-nav a:hover {
    color: #9d9d9d !important;
}

header .navbar-default .navbar-nav a.btn-a-primary:hover {
    background: #ca236f !important;
    color: #fff !important;
    text-decoration: none;
}

footer {
    background: #00aced;
    color: #fff;
    font: 700 20px/24px 'Roboto', sans-serif;
    font-weight: 300;
}

footer h1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 10px 0;
    padding: 0;
    text-transform: uppercase;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    margin: 0;
    padding: 0;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #ddd;
    text-decoration: none;
}

footer p {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

footer .fa-facebook:hover {
    color: #3a5795;
}

footer .fa-twitter:hover {
    color: #55acee;
}

.row {
    margin: 0;
}

.loading {
    display: none;
}

.btn-a-primary {
    background: #ba135f;
    border: 2px solid #dc89af;
    color: #eee !important;
    font-size: 16px !important;
    font-weight:700;
    line-height: 19px !important;
    max-width:200px;
    min-width: 133px;
    padding: 6px !important;
    text-align: center;
    text-transform: uppercase !important;
    vertical-align: middle;
}

.btn-a-primary:hover {
    background: #ca236f !important;
    color: #fff !important;
    text-decoration: none;
}

.btn-a-action {
    background: #00aced;
    border: none;
    border-radius:0;
    color: #fff;
    font: 700 18px/20px 'Open Sans', sans-serif;
    height: 42px;
    padding: 5px 10px;
    text-align:center;
}

.btn-a-action:hover {
    background: #06c;
    color: #fff;
    text-decoration: none;
}

.space-10 {
    height: 10px;
}
.space-20 {
    height: 20px;
}
.space-30 {
    height: 30px;
}
.space-40 {
    height: 40px;
}
.space-50 {
    height: 50px;
}
.space-60 {
    height: 60px;
}
.space-70 {
    height: 70px;
}
.space-80 {
    height: 80px;
}
.space-90 {
    height: 90px;
}
.space-100 {
    height: 100px;
}

@media only screen and (min-width:768px) {

    header .navbar-right {
        background-color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
    }

    header .navbar-right a:focus {
        background-color: rgba(0, 0, 0, 0) !important;
        border-color: rgba(0, 0, 0, 0) !important;
    }

    header .navbar-right .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.8);
        border-color: rgba(0, 0, 0, 0.8);
    }
}