body {
    background-image: url('/images/newDesign/background.jpg');
}

h1 .title{
    color: rgb(70, 70, 70);
    font-weight: 300;
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
}

h2 {
    color: rgb(70, 70, 70);
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 20px 0;
}

hr {
    margin: 50px 0 30px 0;
}

input, select, button {
    margin-top: 15px;
}

.note {
    font-size: 11px;
    font-weight: 300;
}

.btn-group {
    padding-left: 0px;
}
.form-control[readonly]{
    background-color: #FFFFFF;  
}

.btn-a-action {
    background: #00aced;
    border: 2px solid #00accb;
    border-radius: 0;
    color: #fff;
    font: 300 17px/19px 'Open Sans', sans-serif;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase !important;
    vertical-align: middle;
}

.final-ask {
    color: rgb(70, 70, 70);
    font-size:20px;
}
#another-radio{
    margin-bottom: 0px;
}
#another-text{
    margin-top: 0px;
    padding-left: 10px;
    max-width: 100px;
    max-height: 30px;
}