

body{
    background-image: url('/images/newDesign/background.jpg');
}

.note {
    font-size: 11px;
    font-weight: 300;
}

.espacio{

    margin-top: 5%;
}

.linea{

    border-top: 1px solid #848484;
    margin-left: 4%;
}

@media only screen and (max-width:767px) {


}