body {
    background-image: url('/images/newDesign/background.jpg');
}

.BCW h2 {
   /*color: #fff;*/
   color: #ba135f;
   font-weight: 400;
}

.panel-body{

	background: #FAFAFA;
}

.collapsed{
	font-weight: 300;
}

@media only screen and (max-width:767px) {
	.panel-title {
		font-size: 15px;
	}
}

