body {
    background-image: url('/images/newDesign/background.jpg');
}

.filters {
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0 40px 0;
}

.filters ul {
    list-style: none;
}

.filters ul li {
    float: left;
    margin-right: 15px;
}

.box .price {
    color: #c8427f;
    font: 700 20px/22px 'Roboto', sans-serif;
}

.box .image .car {
    height: 100%;
    width: 100%;
}

.box .image .marker {
    left: 3px;
    position: absolute;
    margin-top:-10px ;
}

.box .text h2 a small {
    font: 300 13px/20px 'Roboto', sans-serif;
}

.box .text h2 {
    font: 700 16px/20px 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.box {
    background-color: #fff;
    padding: 10px;
}

.metro .km-area{
    width: 18px;
    height: 15px;
    margin-bottom: 6px;
}
.metro{
    margin-bottom: 10px;
    padding-top: 2px;

}

.box {
    background-color: #fff;
    padding: 10px;
}

.box .metro p {
    height: 1em;
}

.box:hover {
    background-color: #f8f8f8;
}

.box .image .car {
    width: 100%;
}

.box .image .marker {
    left: 3px;
    position: absolute;
    top: 3px;
}

.box .text {
    padding-left: 10px !important;
}

.box .text h2 {
    font: 700 16px/20px 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.box .text h2 a {
    color: #464646;
    outline: none;
    text-decoration: none;
}

.box .text h2 a:hover {
    color: #464646;
    text-decoration: underline;
}

.box .text h2 a small {
    font: 300 13px/20px 'Roboto', sans-serif;
}

.box .price {
    color: #c8427f;
    font: 700 20px/22px 'Roboto', sans-serif;
    margin-bottom: 0px;
}

.msg-search {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

button.see-more {
    background-color: #5d5d5d;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 10px 5px;
    text-align: center;
}

/*@media only screen and (max-width:767px) {

    .iframe{
        height: 200px;
    }

    .form-control {
        font-size: 11px;
    }

    #section-map-form-search {
        background: white;
        padding: 5px 0 0 0;
    }

    #section-map-form-search select, #section-map-form-search input {
        margin-top: 5px;
    }

    #region-container {
        padding-right: 5px;
    }

    #commune-container {
        padding-left: 5px;
        margin-bottom: 10px;

    }

    #from-container {
        padding-right: 5px;
    }

    #to-container {
        padding-left: 5px;
        margin-bottom: 10px;
    }

     #section-map-form-search #search {
        border-radius: 4px;
        margin-top: 5px;
        padding-top: 8px;
    }
    .listagrey input {
        margin-top: 5px;
    }
}*/