body {
    background-image: url('/images/newDesign/background.jpg');
}

#list-container {
    background-color: white;
    min-height: 250px;
}

#list-container h2 {
    font-weight: 300;
}

#filters-navbar {
    background-color: white;
    border-color: white;
    margin: 0;
}

#section-map-filters {
    color:rgb(10, 9, 9);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 29px 0px 26px 0px;
}

#section-map-filters .heading {
    float: left;
    font: 500 24px/26px 'Open Sans', sans-serif;
    color: #050505;
    position: relative;
    padding: 0 30px 0 30px;
}

#section-map-filters ul {
    margin-top: 4px;
    margin-left: -10%;
}

#section-map-filters li {
    float: left;
    list-style: none;   
    font: 600 18px/20px 'Open Sans', sans-serif;
    margin-left: 15px;
}

#section-map-filters .col-md-7 input[type=checkbox] { 
	margin: 0 10px 0 10px; 
}


h3 .filter{
	color:rgb(10, 9, 9);
}

.box .price {
    color: #c8427f;
    font: 700 20px/22px 'Roboto', sans-serif;
}

.box .image .car {
    height: 100%;
    width: 100%;
}

.box .image .marker {
    left: 3px;
    position: absolute;
    margin-top:-10px ;
}

.box .text h2 a small {
    font: 300 13px/20px 'Roboto', sans-serif;
}

.box .text h2 {
    font: 700 16px/20px 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.grey{

    background: #FAFAFA;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
    padding: inherit;
}

.links{
    margin-top: 55px;
    margin-left: 70px;
    margin-right: 78px;
}
.panel-title{
    font: 400 23px/20px 'Roboto', sans-serif;

}
.panel-group-spam{
     margin-top: 55px;
}

.panel-heading{
    background-color: #FAFAFA;
}

.box {
    background-color: #fff;
    padding: 10px;
}

.metro .km-area{
    width: 18px;
    height: 15px;
    margin-bottom: 6px;
}
.metro{
    margin-bottom: 10px;
    padding-top: 2px;

}

.box {
    background-color: #fff;
    padding: 10px;
}

.box .metro p {
    height: 1em;
}

#tab-map .box {
    /*border-bottom: solid 1px #ddd;*/
}

.box:hover {
    background-color: #f8f8f8;
}

.box .image .car {
    /*height: 100%;*/
    width: 100%;
}

.box .image .marker {
    left: 3px;
    position: absolute;
    top: 3px;
}

.box .text {
    padding-left: 10px !important;
}

.box .text h2 {
    font: 700 16px/20px 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.box .text h2 a {
    color: #464646;
    outline: none;
    text-decoration: none;
}

.box .text h2 a:hover {
    color: #464646;
    text-decoration: underline;
}

.box .text h2 a small {
    font: 300 13px/20px 'Roboto', sans-serif;
}

.box .price {
    color: #c8427f;
    font: 700 20px/22px 'Roboto', sans-serif;
    margin-bottom: 0px;
}

@media only screen and (max-width:767px) {

    .iframe{
        height: 200px;
    }

    .form-control {
        font-size: 11px;
    }

    #section-map-form-search {
        background: white;
        padding: 5px 0 0 0;
    }

    #section-map-form-search select, #section-map-form-search input {
        margin-top: 5px;
    }

    #region-container {
        padding-right: 5px;
    }

    #commune-container {
        padding-left: 5px;
        margin-bottom: 10px;

    }

    #from-container {
        padding-right: 5px;
    }

    #to-container {
        padding-left: 5px;
        margin-bottom: 10px;
    }

     #section-map-form-search #search {
        border-radius: 4px;
        margin-top: 5px;
        padding-top: 8px;
    }
    .listagrey input {
        margin-top: 5px;
    }
}