/cache/
/log/
/spool/
/web/images/cars/
/web/images/licence/
/web/images/users/
/web/images/tmp_images/
/web/uploads/
/config/databases.yml
/config/ProjectConfiguration.class.php
/nbproject/
/db/

.DS_Store
*.orig

/web/old/

queries.sql
