/cache/
/log/
/web/images/cars/
/web/images/licence/
/web/images/users/
/web/uploads/*.jpg
/web/uploads/*.jpeg
/web/uploads/*.JPG
/web/uploads/*.png
/web/uploads/cars/
/web/uploads/damages/
/web/uploads/images/
/web/uploads/vistas_seguro/
/web/uploads/verificaciones/
/config/databases.yml
/config/ProjectConfiguration.class.php
/nbproject/private/
*.orig
.DS_Store
/nbproject/
/nbproject/private/

/db/

/arriendas.mwb
/arriendas.mwb.bak
