body {
    background-image: url('/images/newDesign/background.jpg');
}

.form-horizontal .control-label {
    font-size: 12px;
    color: #999;
}

a.sitemap-links {
    color: #999;
}

h2.google-title {
    border: none;
    margin-bottom: 0px;
}

h2.sitemap {
    margin-top: 20px;
    color: #ba135f;
    font-weight: 500;
    font-size: 18px;
}

.sitemap-columns {
    margin-right: 10px;
    float: left;
}

ul.sitemap {
    margin-left: -15px;
}

ul.sitemap2 {
    margin-left: 03px;
}
.imagen img{
    position: absolute;
    margin: -40px 0 0 0;
}

.body-url{
    margin-top: 110px;
}

.body-404{
    margin-left: 15px;
}

@media screen and (max-width: 740px) {
    .link-column {
        height: 170px;
    }
    
    .body-url{
        margin-top: 0px;
    }

    .body-404{
        margin-left: 10px;
    }

    .BCW h1{
        margin: 30px 0 0px 0;
    }
}


