
.calen_box_1 {
	float: left;
	width: 520px;
	height: 360px;
	background-color: #fff;
	margin-left: 20px;
	border: 1px solid #d3d3d3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.calen_box_1_frame {
	margin-top: 10px;
	margin-left: 10px;
}


/* sector reservas en curso */
.calen_box_2 {
	float: left;
	margin-left: 20px;
	background-color: #fff;
	border: 1px solid #c3c3c3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 700px;
	background-image: url('../images/img_mensajes/msg_box_bg.png');
	background-repeat: repeat-x;
	background-position: bottom;
	padding-bottom: 30px;
	margin-bottom: 20px;
}
.calen_box_2_header {
	background-image: url('../images/img_calendario/calen_box_2_header_bg.png');
	background-repeat: repeat-x;
	width: 700px;
	height: 30px;
	border-bottom: 1px solid #c3c3c3;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-family: Tahoma;
	color: #fff;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: -1px;
	position: relative;
}
.calen_box_2_header h2 {
	margin-left: 20px;
	padding-top: 8px;
}


.calen_box_header_nro_1 {
	position: absolute;
	top: 3px;
	right: 10px;
	background-image: url('../images/img_calendario/calen_box_sector_nro_items_1.png');
	width: 49px; height: 23px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	
}
.calen_box_header_nro_1 span {
	display: block;
	width: 30px;
	text-align: center;
	position: absolute;
	top: 6px;
	left: 10px;
}


/* sector proximas reservas confirmadas */
.calen_user_box {
	position: relative;
	float: left;
	margin-left: 20px;
	margin-bottom: 16px;
	width: 480px;
	padding-bottom: 26px;
	background-color: #fff;
	border-bottom: 1px dashed #c3c3c3;
}
.calen_user_foto_frame {
	position: absolute;
	top: -1px;
	left: -10px;
	width: 92px;
	height: 100px;
	background-image: url('../images/img_calendario/calen_user_foto_frame.png');
}
.calen_user_foto_frame img {
	margin-top: 4px;
	margin-left: 4px;
}
ul.calen_user_info {
	float: left;
	margin-left: 100px;
	margin-top: 6px;
}
ul.calen_user_info li {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	margin-bottom: 7px;
}
ul.calen_user_info li.calen_user_nombre {
	color: #1d95cb;
	font-size: 13px;
}
ul.calen_user_info li.calen_user_calif {
	background-image: url('../images/img_calendario/ico_calificaciones.png');
	padding-left: 20px;
	background-repeat: no-repeat;
	height: 16px;
	line-height: 16px;
}
.calen_user_coment {
	float: left;
	margin-left: 100px;
	width: 350px;
	border: 1px solid #98cfe4;
	background-color: #fff;
	color: #7a7a7a;
	padding: 10px;
	font-size: 11px;
	line-height: 15px;
}
a.calen_btn_aceptar {
	display: block;
	background-image: url('../images/img_calendario/btn_confirmar_si.png');
	width: 72px;
	height: 32px;
	position: absolute;
	right: 20px;
	top: 10px;
}



/* reservas en curso items */
.calen_reserv_curso_box {
	width: 480px;
	border: 1px solid #c3c3c3;
	background-color: #fff;
	padding-bottom: 10px;
	background-image: url('../images/img_calendario/calen_box_2_bg.png');
	background-repeat: repeat-x;
	background-position: bottom;
	margin-bottom: 10px;
	margin-left: 20px;
	position: relative;
	padding-bottom: 43px;
}
a.calen_reserv_curso_btn {
	display: block;
	width: 172px;
	height: 32px;
	background-image: url('../images/img_calendario/btn_confirmar_finalizacion.png');
	float: left;
	margin-left: 20px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.calen_reserv_curso_box ul {
	float: left;
	font-size: 12px;
	width: 300px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
} 

.calen_reserv_curso_box ul li {
	margin-bottom: 5px;
	background-image: url('../images/img_calendario/ico_reserv_curso_box.png');
	background-repeat: no-repeat;
	padding-left: 10px;
	background-position: left;
}


/* sector reservas en curso */

.calen_box_3 {
	float: left;
	width: 480px;
	margin-left: 10px;
}
.calen_box_3_header {
	margin-bottom: 20px;

}
.calen_box_3_header h2 {
	padding-top: 8px;
	margin-top:0;
	border-radius:8px 8px 0 0;
}
.calen_box_header_nro_2 {
	position: absolute;
	top: 3px;
	right: 10px;
	background-image: url('../images/img_calendario/calen_box_sector_nro_items_2.png');
	width: 49px;
	height: 23px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	display: none;
}
.calen_box_header_nro_2 span {
	display: block;
	width: 30px;
	text-align: center;
	position: absolute;
	top: 6px;
	left: 10px;
}
.foto_user_rev_curso{
    border: 1px solid #C3C3C3;
    float: left;
    height: 69px;
    margin: 5px;
    padding: 5px;
    width: 69px;
}
.username_rev_curso{
    float: left;
    font-weight: bold;
    margin: 10px;
}
.number_reserv_curso{
    float: left;
    margin: 10px 0 0 5px;
    text-align: center;
    width: 20px;
    color: #4380BC;
    font-weight: bold;
}
#titleReserve{
	width: 435px;
	border-bottom: 1px solid #bdbec0;
	padding-bottom: 6px;
	margin-bottom: 20px;
	padding-left: 20px;
	font-style: italic;
	font-size: 11px;
}
#titleReserve label span{
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
}
.lineaBoxSeleccion{
	background-color: #bdbec0;
	width: 414px;
	height: 1px;
	float: left;
	margin-left: 18px;
	margin-bottom: 15px;
}
input.calendar, input.hora_calendar{
	width: 150px;
    height: 32px;
    padding-left: 42px;
}
.calendar{
	margin: 0px;
	border: 1px solid #bdbec0;
	padding: 0px;
	cursor: pointer;
	background-image: url("../images/img_mis_reservas/Icono_Calendario.png");
	background-position: 2% 50%;
	background-repeat: no-repeat;
}
.hora_calendar{
	margin: 0px;
	border: 1px solid #bdbec0;
	padding: 0px;
	cursor: pointer;
	background-image: url("../images/img_mis_reservas/IconoReloj.png");
	background-position: 2% 50%;
	background-repeat: no-repeat;
}
.lineL{
	height: 34px;
	border-left: 1px solid #bdbec0;
	position: absolute;
	left: 302px;
}
.lineR{
	height: 34px;
	border-left: 1px solid #bdbec0;
	position: absolute;
	left: 522px;
}
.c3{
	width: 210px;
	float: left;
	height: 115px;
	margin-left: 10px;
}
.c3 label{
	font-size: 11px;
	font-style: italic;
	padding-bottom: 5px;
	float: left;
}
.c3 label span{
	color: #eb008b;
}
.c4{
	width: 170px;
	float: right;
	color: #05a4e7;
	font-weight: bold;
	font-size: 16px;
	margin-right: 72px;
}
.c4 label{
	float: right;
	margin-left: 5px;
}
#boxKmsUtilizados{
	float: left;
	width: 416px;
	margin-top: 25px;
	margin-left: 18px;
}
#boxKmsUtilizados label span{
	color: #eb008b;
}
input.inputKmsUtilizados{
	margin: 0px;
	border: 1px solid #bdbec0;
	padding: 6px;
	height: 12px;
	width: 102px;
	margin-left: 13px;
}
#boxUsoDelAuto{
	float: left;
	width: 417px;
	margin-top: 15px;
	margin-left: 18px;
}
textarea.inputUsoDelAuto{
	resize: none;
	margin: 0px;
	border: 1px solid #bdbec0;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	height: 80px;
	width: 391px;
	margin-top: 8px;
	font-family: Arial;
	font-style: normal;
}
button#btnConfirmarReserva{
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-color: white;
	background-image: url("../images/img_mis_reservas/Icono_Reservar_Grande.png");
	background-repeat: no-repeat;
	float: right;
	margin-right: 48px;
	margin-top: 2px;
	width: 140px;
	height: 71px;
	cursor: pointer;
}
.boxCamposObligatorios{
	float: left;
	width: 400px;
	margin-left: 20px;
}

.boxCamposObligatorios p{
	color: #6C6C6D;
	font-size: 11px;
	font-style: italic;
	float: left;
}
.boxCamposObligatorios span{
	color: #eb008b;
	float: left;
	margin-right: 6px;
}