<h2>PAGAR&Eacute;</h2>

<p>
    Debo y pagar&eacute; a la orden de {nombre_completo_duenio}, rol &uacute;nico tributario n&uacute;mero {rut_duenio} con
    domicilio en la calle {domicilio_duenio}, comuna de {comuna_duenio}, {name_region_duenio} la 
    suma de ${precio}
</p>
<br />
<div>El pago ser&aacute; exigible en los siguientes casos:</div>
<br />
<div>
    1) Siniestro en estado de ebriedad<br/>
    2) Robo del veh&iacute;culo durante el arriendo;<br/>
    3) Apropiaci&oacute;n indebida del veh&iacute;culo;<br/>
    4) Violaci&oacute;n del contrato de arriendo por parte del suscriptor;<br/>
</div>
<br/>
<div>
    En caso de mora o simple atraso en el pago, el que deber&aacute; efectuarse al s&oacute;lo requerimiento del 
    acreedor se devengar&aacute;n intereses moratorios a la tasa m&aacute;xima que la ley permita estipular,
    calculados desde el d&iacute;a de la mora o simple atraso y hasta el d&iacute;a del pago efectivo, sobre el total 
    del importe adeudado.
</div>
<br/>
<div>
    El suscriptor libera al beneficiario de la obligaci&oacute;n de protesto, quedando el tenedor leg&iacute;timo
    facultado para protestar el pagar&eacute; si lo estima, por la totalidad del importe adeudado.
</div>
<br/>
<div>
    La obligaci&oacute;n derivada de este pagar&eacute; tendr&aacute; el car&aacute;cter de indivisible, pudiendo el acreedor 
    cobrarla &iacute;ntegramente a cada uno de los herederos o sucesores a cualquier t&iacute;tulo del deudor, en 
    los t&eacute;rminos que establecen los art&iacute;culos 1.526 y 1.528 del C&oacute;digo Civil. 
</div>
<br/>
<div>
    Para todos los efectos legales derivados del presente pagar&eacute;, incluso los de protesto, en su caso, 
    el deudor fija domicilio especial en la ciudad de Santiago, Regi&oacute;n Metropolitana y se somete a la 
    jurisdicci&oacute;n de sus tribunales de justicia.
</div>
<br/>
<div>
    Cualquier derecho, gasto o impuesto que devengue este pagar&eacute;, su modificaci&oacute;n, pago u otras 
    circunstancia relativa a aqu&eacute;l, producida con ocasi&oacute;n o motivo del mismo, ser&aacute;n del suscriptor.
</div>
<br/>
<div>
    El suscriptor autoriza expresa e irrevocablemente a __________ para informar, tratar y/o 
    comunicar a cualquier base de datos sus antecedentes personales consignados en el presente 
    instrumento, as&iacute; como el incumplimiento, simple retardo o mora de las obligaciones que emanan 
    del presente pagar&eacute;.
</div>
<br/>
<div>
    Santiago, {fecha_arriendo_dia} de {fecha_arriendo_mes} de {fecha_arriendo_anio}.
</div>
<br/>
<div>
    NOMBRE ARRENDATARIO (SUSCRIPTOR): {nombre_usuario}<br/>
    R.U.T. ARRENDATARIO (SUSCRIPTOR): {rut_arrendatario}<br/>
    DOMICILIO (SUSCRIPTOR): {domicilio_arrendatario}<br/>
<br/>
    ___________________<br/>
    (firma suscriptor)
</div>